<div class="row product">
    <div class="col-md-8 item-product_image">
        <img src="{{product.image}}" alt="">
    </div>
    <div class="col-md-4 item-product_description">
        <h2>{{product.name}}</h2>
        <br>
        <h4>{{product.description}}</h4>
        <button class="btn btn-warning">them vao gio hang</button>
    </div>
</div>